* {
  all: unset;
  font-family: "FiraCode Nerd Font", "JetBrainsMono Nerd Font", monospace;
  font-size: 11px;
  background: none;
  color: #e0def4; /* text */
}

window {
  background-color: #191724;
  border: 2px solid #9ccfd8;
  border-radius: 8px;
}

#input {
  margin: 10px;
  padding: 6px 10px;
  border-radius: 6px;
  background-color: #1f1d2e;
  color: #e0def4;
}

#entry {
  padding: 8px 14px;
  margin: 2px 10px;
  border-radius: 4px;
}

#entry:selected {
  background-color: #31748f;
  color: #e0def4;
}

#scroll {
  margin-bottom: 10px;
}

